
.singlePageConatiner{
    margin-top: 0px;
    padding: 50px;
    border: 2px solid red;
    display: flex;
    background-color: black;
}

.singlePageImage{
    border: 4px solid yellow;
    display: flex;
    justify-content: center;
    
}

.mainImage{
    /* width: 80%; */
    width: 32%;
    /* width: 200%; */
    /* border: 10px solid red; */
    display: flex;
    justify-content: center;
}

.moreArts{
    border: 2px solid green;
    width: 25%;
    padding: 10px;
}

/*  Favourites comment download CSS*/

.favouriteAndDownloadContainer{
    /* border: 4px solid rgb(9, 90, 25); */
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.spanTag{
    margin-right: 10px;
}

.favComBtn{
    color: white;

}

.favComBtn:hover{
    color: rgb(17, 222, 123);
    cursor: pointer;
}

/* User Post Title Published CSS */

.userPostTitleContainer{
    width: 90%;
    margin: auto;
    /* border: 4px solid #000; */
    display: flex;
    justify-content: space-between;
}

.userAndTitle{
    display: flex;
    color: #ffffff;
    /* justify-content: center; */
}

.userCredit{
    display: flex;
    
}


/* comment section CSS */

.commentContainer{
    width: 90%;
    margin: auto;

}
.logoCommentArea{
    display: flex;
}


.commentBtn {
    background-color: rgb(17, 222, 123);
}

.commentBtn:hover {
    background-color: rgb(80, 239, 112);
}



/* user Comments Container css */

.userCommentsContainer{
    border: 2px solid red;
    width: 90%;
    margin: auto;

}

.userContent{
    border: 2px solid rgb(25, 13, 197);
    display: flex;
    margin: 10px 0px 10px 0px;
}

.userComments{
    border: 2px solid rgb(13, 197, 25);
    width: 100%;
    margin-left: 10px;
}


