
.singlePageConatiner{
    border: 2px solid red;
    display: flex;
}

.singlePageImage{
    border: 4px solid yellow;
    display: flex;
    justify-content: center;
    
}

.mainImage{
    /* width: 80%; */
    width: 32%;
    /* width: 200%; */
    /* border: 10px solid red; */
    display: flex;
    justify-content: center;
}

.moreArts{
    /* border: 2px solid green; */
}

/*  Favourites comment download CSS*/

.favouriteAndDownloadContainer{
    /* border: 4px solid rgb(9, 90, 25); */
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.spanTag{
    margin-right: 10px;
}


/* User Post Title Published CSS */

.userPostTitleContainer{
    width: 90%;
    margin: auto;
    /* border: 4px solid #000; */
    display: flex;
    justify-content: space-between;
}

.userAndTitle{
    display: flex;
    /* justify-content: center; */
}

.userCredit{
    display: flex;
}