.singlePageConatiner {
    margin-top: 0px;
    padding: 50px;
    /* border: 2px solid red; */
    display: flex;
    /* background-color: black; */
}

.singlePageImage {
    /* border: 4px solid yellow; */
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

}

.singlePageMainContainer {
    /* border: 2px solid rgb(252, 251, 251); */
    width: 75%;
}

.mainImage {
    /* width: 80%; */
    width: 32%;
    /* width: 200%; */
    /* border: 10px solid red; */
    display: flex;
    justify-content: center;
}

.moreArts {
    /* border: 2px solid green; */
    width: 25%;
    padding: 10px;
}

/*  Favourites comment download CSS*/

.favouriteAndDownloadContainer {
    /* border: 4px solid rgb(9, 90, 25); */
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}

.spanTag {
    margin-right: 10px;
}

.favComBtn {
    color: white;

}

.favComBtn:hover {
    color: rgb(17, 222, 123);
    cursor: pointer;
}


/* commentAndViews */

.commentAndViews {
    width: 90%;
    margin: auto;

}


/* User Post Title Published CSS */

.userPostTitleContainer {
    width: 90%;
    margin: auto;
    /* border: 4px solid #000; */
    display: flex;
    justify-content: space-between;
}

.userAndTitle {
    display: flex;
    color: #ffffff;
    /* justify-content: center; */
}

.userCredit {
    display: flex;

}


/* comment section CSS */

.commentContainer {
    width: 90%;
    margin: auto;
    padding-top: 20px;

}

.logoCommentArea {
    display: flex;
}


.commentBtn {
    background-color: rgb(17, 222, 123);
}

.commentBtn:hover {
    background-color: rgb(80, 239, 112);
}



/* user Comments Container css */

.userCommentsContainer {
    /* border: 2px solid red; */
    width: 90%;
    margin: auto;

}

.userContent {
    /* border: 2px solid rgb(25, 13, 197); */
    display: flex;
    margin: 20px 0px 20px 0px;
}

.userComments {
    /* border: 2px solid rgb(13, 197, 25); */
    width: 100%;
    margin-left: 10px;
}


@media all and (min-width: 320px) and (max-width: 767px) {
    .singlePageConatiner {
        flex-direction: column;
        padding: 20px;
    }

    .moreArts {
        width: 100%;
    }

    .singlePageMainContainer {
        width: 100%;
        margin-bottom: 40px;

    }
}



@media all and (min-width: 320px) and (max-width: 500px) {
    .userPostTitleContainer{
        flex-direction: column;
    }

    .userAndTitle{
        margin-bottom: 20px;
    }

    .published{
        margin-bottom: 10px;
        padding-left: 10px;
    }
}